//media queries
@mixin media-query ($size) {
    @if $size == desktop {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (max-width: 992px) {
            @content;
        }
    }
    @else if $size == tablet-mini {
        @media screen and (max-width: 822px) {
            @content;
        }
    }
    @else if $size == mobile {
        @media screen and (max-width: 576px) {
            @content;
        }
    }
    @else if $size == mobile-mini {
        @media screen and (max-width: 274px) {
            @content;
        }
    }
}

//typography

$font-main: 'Titillium Web', sans-serif;
$font-logo: 'Redressed', cursive;
$font-weight-medium: 400;
$font-weight-heavy: 700;

//colors
$color-main-bg: white;
$color-main-font: black;
$color-button: #3545ee;
$color-header-bg: black;
$color-header-font: white;
$color-service-one: #fcf0ea;

// //main

// * {
//     margin: 0px;
//     padding: 0px;
//     list-style: none;
//     text-decoration: none;
//     box-sizing: border-box;
// }

// body {
//     font-family: $font-main;
//     color: $color-main-font;
//     font-size: 1rem;
//     line-height: 1.5rem;
// }


// header {
//     min-height: 70px;
//     max-width: 100%;
//     background-color: $color-header-bg;
//     color: $color-header-font;
// }
//typography

$font-main: 'Titillium Web', sans-serif;
$font-logo: 'Redressed', cursive;

//colors
$color-main-bg: white;
$color-main-font: black;
$color-button: #000000;
$color-header-bg: black;
$color-header-font: white;

//main

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $color-main-font;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $font-weight-medium
}

h1 {
    font-size: 4rem;
    line-height: 4rem;

    @include media-query(tablet) {
        font-size: 3rem;
        line-height: 3rem;
    }

    @include media-query(tablet) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 3.5rem;
    line-height: 4rem;

    @include media-query(tablet) {
        font-size: 3rem;
        line-height: 3rem;
    }

    @include media-query(tablet) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}


h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: $font-weight-medium;

    @include media-query(tablet) {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    @include media-query(mobile) {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

h6 {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: $font-weight-heavy;

    @include media-query(tablet) {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    @include media-query(mobile) {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $font-weight-medium;

    @include media-query(tablet) {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    @include media-query(mobile) {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}


header {
    min-height: 70px;
    max-width: 100%;
    background-color: $color-header-bg;
    color: $color-header-font;
}
.header-container {
    max-width: 1240px;
    padding: 0px 7px;
    // background-color: red;
    margin: 0px auto;
    min-height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    flex: 1;
    font-family: $font-logo;
    font-weight: $font-weight-heavy;
    font-size: 2.5rem;

    @include media-query(tablet) {
        font-size: 2rem;
    }

    @include media-query(mobile) {
        font-size: 1.5rem;
    }
}
.header-button {
    flex: 1;
    text-align: right;
    display: none;
}

//button

.button {
    background-color: $color-button;
    color: $color-header-font;
    padding: 10px 35px;
    font-weight: $font-weight-medium;
    box-shadow: 0px 0px 5px rgb(82, 82, 82);

    @include media-query(tablet) {
        padding: 7px 30px;
    }

    @include media-query(mobile) {
        padding: 5px 25px;
    }
    @include media-query(mobile-mini) {
        display: none;
    }

    // &:hover {
    //     background-color: ;
    // }
}
.hero {
    // background-color: red;
    margin: 0px auto;
    max-width: 1240px;
    min-height: 500px;
    display: flex;
    align-items: center;

    @include media-query(tablet) {
        min-height: 400px;
    }
    @include media-query(tablet-mini) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        min-height: 0px;
    }

    @include media-query(mobile) {
        flex-direction: row-reverse;
        min-height: 0px;
    }


    &__header {
        flex: 1;
        padding: 30px;
        // background-color: blue;


        @include media-query(tablet) {
            flex: 1 411px;
        }

        @include media-query(mobile) {
            padding: 60px 20px;
        }

        h3 {
            margin: 35px 0px;

            @include media-query(tablet) {
                margin: 25px 0px;
            }
        }
    }

    .button-hero {
        padding: 10px 60px;

        @include media-query(tablet) {
            padding: 7px 50px;
        }
    
        @include media-query(mobile) {
            padding: 5px 40px;
        }
    
    }

    &__image {
        flex: 1;
        padding: 30px;

        @include media-query(tablet) {
            flex: 1.5 411px;
        }

        @include media-query(mobile) {
            padding: 10px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
.partners-container {
    max-width: 1240px;
    margin: 0px auto;
}
.partners {
    min-height: 50px;
    max-width: 1240px;
    // background: yellow;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 70px;

    @include media-query(tablet-mini) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 70px;

    }
    @include media-query(mobile) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(50px, 70px)

    }

    img {
        width: 80%;
        height: auto;

        @include media-query(mobile) {
            width: 100%;
            height: auto;
        }
    }
}
.partner {
    flex: 1;
}
.incognito {
    @include media-query(tablet-mini) {
        display: none;
    }
    @include media-query(mobile) {
        display: block;
    }
}


.services-one {
    background-color: $color-service-one;
    background-image: linear-gradient(135deg,#f8dbd7,#fff2e1);
    box-shadow: 0px 0px 5px rgba(236, 223, 236, 0.466);
    max-width: 1200px;
    min-height: 500px;
    margin: 100px auto;
    box-sizing: border-box;
    padding: 40px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-template-areas: 
    "A B B B"
    "C B B B"
    "C D E F";

    @include media-query(mobile) {
        min-height: 700px;
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "A "
        "B"
        "D"
        "E"
        "F"
        "C";
    }
}

.service__heading {
    grid-area: A;
}
.services__image {
    grid-area: B;

    img {
        width: 100%;
        height: auto;
    }
}
.service__pricing {
    grid-area: C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 0px 3px rgb(226, 225, 225);
    padding: 20px;
    h4 {
        margin-bottom: 10px;
    }

    span {
        font-size: 2.6rem;
        font-family: $font-main;
        font-weight: $font-weight-heavy;
    }

    a {
        background-color: black;
        color: white;
        display: block;
        max-width: 100%;
        text-align: center;
        padding: 10px; 
    }
    i {
        font-size: 0.8rem;
        margin-right: 8px;
    
    }
    li {
        line-height: 1.2rem;
    }

    @include media-query(mobile) {
        margin: 50px 0px;
    }


}
.service__description1 {
    grid-area: D;
}
.service__description2 {
    grid-area: E;
}
.services__description3 {
    grid-area: F;
}