* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

header {
  min-height: 70px;
  max-width: 100%;
  background-color: black;
  color: white;
}

.header-container {
  max-width: 1240px;
  padding: 0px 7px;
  margin: 0px auto;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Redressed", cursive;
  font-weight: 700;
  font-size: 2.5rem;
}

@media screen and (max-width: 992px) {
  .logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.5rem;
  }
}

.header-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.button {
  background-color: #3545ee;
  color: white;
  padding: 10px 35px;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 5px #525252;
          box-shadow: 0px 0px 5px #525252;
}

@media screen and (max-width: 992px) {
  .button {
    padding: 7px 30px;
  }
}

@media screen and (max-width: 576px) {
  .button {
    padding: 5px 25px;
  }
}

@media screen and (max-width: 274px) {
  .button {
    display: none;
  }
}

.hero {
  margin: 0px auto;
  max-width: 1240px;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .hero {
    min-height: 400px;
  }
}

@media screen and (max-width: 822px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 0px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 0px;
  }
}

.hero__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

@media screen and (max-width: 992px) {
  .hero__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 411px;
            flex: 1 411px;
  }
}

@media screen and (max-width: 576px) {
  .hero__header {
    padding: 60px 20px;
  }
}

.hero__header h3 {
  margin: 35px 0px;
}

@media screen and (max-width: 992px) {
  .hero__header h3 {
    margin: 25px 0px;
  }
}

.hero .button-hero {
  padding: 10px 60px;
}

@media screen and (max-width: 992px) {
  .hero .button-hero {
    padding: 7px 50px;
  }
}

@media screen and (max-width: 576px) {
  .hero .button-hero {
    padding: 5px 40px;
  }
}

.hero__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

@media screen and (max-width: 992px) {
  .hero__image {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5 411px;
            flex: 1.5 411px;
  }
}

@media screen and (max-width: 576px) {
  .hero__image {
    padding: 10px;
  }
}

.hero__image img {
  width: 100%;
  height: auto;
}

.partners-container {
  max-width: 1240px;
  margin: 0px auto;
}

.partners {
  min-height: 50px;
  max-width: 1240px;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 70px;
      grid-template-rows: 70px;
}

@media screen and (max-width: 822px) {
  .partners {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 70px;
        grid-template-rows: 70px;
  }
}

@media screen and (max-width: 576px) {
  .partners {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: minmax(50px, 70px);
        grid-template-rows: minmax(50px, 70px);
  }
}

.partners img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 576px) {
  .partners img {
    width: 100%;
    height: auto;
  }
}

.partner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 822px) {
  .incognito {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .incognito {
    display: block;
  }
}

.services-one {
  background-color: red;
  max-width: 1200px;
  height: 600px;
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "A B B B" "C B B B" "C D E F";
}

.service__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

.service__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: B;
}

.service__pricing {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: C;
}

.service__description1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: D;
}

.service__description2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: E;
}

.service__description3 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: F;
}
/*# sourceMappingURL=styles.css.map */