* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

h6 {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  h6 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 576px) {
  h6 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 576px) {
  p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

header {
  min-height: 70px;
  max-width: 100%;
  background-color: black;
  color: white;
}

.header-container {
  max-width: 1240px;
  padding: 0px 7px;
  margin: 0px auto;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Redressed", cursive;
  font-weight: 700;
  font-size: 2.5rem;
}

@media screen and (max-width: 992px) {
  .logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.5rem;
  }
}

.header-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  display: none;
}

.button {
  background-color: #4353ff;
  color: white;
  padding: 15px 55px;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 5px #525252;
          box-shadow: 0px 0px 5px #525252;
}

@media screen and (max-width: 992px) {
  .button {
    padding: 7px 30px;
  }
}

@media screen and (max-width: 576px) {
  .button {
    padding: 5px 25px;
  }
}

@media screen and (max-width: 274px) {
  .button {
    display: none;
  }
}

.hero {
  margin: 0px auto;
  max-width: 1240px;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .hero {
    min-height: 400px;
  }
}

@media screen and (max-width: 822px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 0px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 0px;
  }
}

.hero__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

@media screen and (max-width: 992px) {
  .hero__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 411px;
            flex: 1 411px;
  }
}

@media screen and (max-width: 576px) {
  .hero__header {
    padding: 60px 20px;
  }
}

.hero__header h3 {
  margin: 35px 0px;
}

@media screen and (max-width: 992px) {
  .hero__header h3 {
    margin: 25px 0px;
  }
}

.hero__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

@media screen and (max-width: 992px) {
  .hero__image {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5 411px;
            flex: 1.5 411px;
  }
}

@media screen and (max-width: 576px) {
  .hero__image {
    padding: 10px;
  }
}

.hero__image img {
  width: 100%;
  height: auto;
}

.partners-container {
  max-width: 1240px;
  margin: 0px auto;
}

.partners {
  min-height: 50px;
  max-width: 1240px;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 70px;
      grid-template-rows: 70px;
}

@media screen and (max-width: 822px) {
  .partners {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 70px;
        grid-template-rows: 70px;
  }
}

@media screen and (max-width: 576px) {
  .partners {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: minmax(50px, 70px);
        grid-template-rows: minmax(50px, 70px);
  }
}

.partners img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 576px) {
  .partners img {
    width: 100%;
    height: auto;
  }
}

.partner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 822px) {
  .incognito {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .incognito {
    display: block;
  }
}

.services-one {
  background-color: #fcf0ea;
  background-image: linear-gradient(135deg, #f8dbd7, #fff2e1);
  -webkit-box-shadow: 0px 0px 5px rgba(236, 223, 236, 0.466);
          box-shadow: 0px 0px 5px rgba(236, 223, 236, 0.466);
  max-width: 1200px;
  min-height: 500px;
  margin: 100px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
      grid-template-areas: "A B B B" "C B B B" "C D E F";
}

@media screen and (max-width: 576px) {
  .services-one {
    min-height: 500px;
    padding: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: minmax(0px, 200px);
        grid-template-areas: "A " "B" "D" "E" "F" "C";
  }
}

.service__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

.services__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: B;
}

.services__image img {
  width: 100%;
  height: auto;
}

.service__pricing {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(135deg, #f8b0a6, #ffdaa9);
  -webkit-box-shadow: 0px 0px 5px #e2e1e1;
          box-shadow: 0px 0px 5px #e2e1e1;
  padding: 20px;
}

.service__pricing h4 {
  margin-bottom: 10px;
}

.service__pricing span {
  font-size: 2.6rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

.service__pricing a {
  background-color: black;
  color: white;
  display: block;
  max-width: 100%;
  text-align: center;
  padding: 10px;
}

.service__pricing i {
  font-size: 0.8rem;
  margin-right: 8px;
}

.service__pricing li {
  line-height: 1.2rem;
}

@media screen and (max-width: 576px) {
  .service__pricing {
    margin: 50px 0px;
  }
}

.service__description1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: D;
}

.service__description2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: E;
}

.services__description3 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: F;
}

@media screen and (max-width: 576px) {
  .services__description3 {
    height: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */